body {
    background: rgb(187, 221, 221);
    font-family: "helvetica"    ;
}
h1 {color: brown;
    text-align: center;}
h2 {font-size: 50px;
    font-style: italic;
    text-align: center;}

nav {list-style-type:none;}
#vid {
    padding: 30px;
    text-align: center;}

